.title {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 900;
	font-size: 4vw;
	letter-spacing: 0.05em;
	width: 70%;
	color: black;
	padding-left: 2vw;
	border-radius: 5px;
}
.bioBox {
	background-color: #FAFAFA;
	width: 100%;
	color: black;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	height: 70vh;
}

.bioBox span {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2vw;
}

.lgText {
	margin-top: 2vh;
}

.bioText {
	height: 100%;
}

.bioImg {
	height: auto;
	position: relative;
}

.bluCircle {
	width: 8vw;
	height: 8vw;
	position: absolute;
	background-color: #6EB6FF;
	top: 3vh;
	right: 3vh;
	z-index: 10;
	border-radius: 50%;
}

.mePic {
	transition: 1s;
	opacity: 0.9;
	width: 23vw;
	height: 23vw;
	border-radius: 50%;
	box-shadow: 4px 4px 5px #aaa;
	margin-top: 5vh;
}

.mePic:hover {
	transition: 1s;
	opacity: 1;
}

@media only screen and (max-width: 768px) {
	.bioBox {
		font-size: 2vw;
		height: 70vw;
	}
}