.mainBox {
	font-family: 'Josefin Sans', sans-serif; 
	opacity: 0.9;
	position: relative;
	height: 60vh;
	color: white;
	font-size: 3vw;
	text-align: center;
	vertical-align: center;
	padding-top: 15vh;
	padding-left: 5vw;
	padding-right: 5vw;
	transition: 1s;
}

@media only screen and (max-width: 1200px) {
	.mainBox {
		padding-top: 8vh;
		height: 40vh;
	}
}

.cite {
	padding-top: 10vh;
	padding-bottom: 10vh;
	background-color: black;
	transition: 1s;
}

.mainBox:hover {
	opacity: 1;
	transition: 1s;
}