.First-box-left {
	position: relative;
	height: 100vh;
	background-image: url(../assets/11.jpg);
	background-size: 100% 100%;
}

.First-box-right {
	padding-top: 20vh;
	position: relative;
	height: 100vh;
	color: black;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: center;
}


.flag {
	position: absolute;
	top: 3%;
	right: 6%;
	opacity: 0.8;
}
.flag:hover {
	opacity: 1;
}

.First-box-right p {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 9vw;
	letter-spacing: 0.05em;
}

.First-box-right span {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2vw;
}

.First-box-right small {
	font-family: 'Josefin Sans', sans-serif; 
	font-size: 1vw;
	/*
	font-family: 'Bellefair', serif; 
	*/
}
.social img {
	width: 4vw;
	height: 6vh;
	opacity: 0.8;
	transition: 0.8s;
	filter: grayscale(100%);
}

.social img:hover {
	filter: grayscale(0%);
	opacity: 1;
	transition: 0.8s;
}
.email {
	font-family: 'Josefin Sans', sans-serif;
	color: red;
}

/* this will go in a new component*/

.gentlemanImg {
	width: 80%;
	margin-top: 15%;
}

.mainText {
	padding-top: 7%;
	font-size: 3em;
}

@media (min-height: 992px) and (max-width: 1200px) {
	.First-box-right {
		padding-top: 15vh;
		height: 60vh;
		font-size: 2vh;
	}
  .First-box-left {
		height: 60vh;
	}	
}

@media (max-height: 991px) and (max-width: 1200px) {
	.First-box-right {
		padding-top: 15vh;
		height: 80vh;
	}
  .First-box-left {
		height: 80vh;
	}
	.mainBrand {
		width: 14vw;
	}
}

@media only screen and (max-width: 1024px) {
	.First-box-right span {
		font-size: 2.2vw;
	}
	.mainBox {
		position: relative;
		height: 50vh;
	}
	.mainBrand {
		width: 15vw;
	}
}

@media (max-height: 799px) and (max-width: 991px) {
	.First-box-right {
		height: 70vh;
		padding-top: 5vh;
		padding-bottom: 10vh;
	}
}

@media (min-height: 800px) and (max-width: 991px) {	
	.First-box-right {
		height: 40vh;
	}
}

@media only screen and (max-width: 991px) {
	.social img {
		width: 6vw;
		height: 10vh;
	}
	.changeLang {
		right: 10vh;
	}
	.mainBrand {
		width: 25vw;
	}
  .First-box-left {
		height: 50vh;
	}
}

@media only screen and (max-width: 480px) {
	.mainBox {
		position: relative;
		height: 30vh;
	}
	.changeLang {
		right: 7vh;
	}
	.First-box-right span {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 4vw;
	}
  .First-box-right {
  	height: 50vh;
		padding-top: 15vh;
	}
	.flag {
		right: 10%;
	}
	.mainText {
		font-size: 0.7em;
		padding-top: 10%;
	}
	.gentlemanImg {
		width: 80%;
		margin-top: 15%;
	}
	.mainBrand {
		width: 40vw;
	}
}