ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A5D6C; /*57C6D4*/
  font-family: 'Poppins', sans-serif;
  border-bottom: none;
  width: 49.5vw;
}

li {
  float: left;
}

li .Navbar-links {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .Navbar-links:hover:not(.active) {
  border-bottom: solid 1.5px white;
  animation-delay: 3s;
}

.active {
  border-bottom: solid 1.5px white;
}

@media only screen and (max-width: 1200px) {

	ul {
		width: 100vw;
	}

}