.secondBox {
	padding-left: 5vw;
	padding-right: 5vw;
}

.Box1 {
	margin-top: 5vh;
	height: 60vh;
	background-color: /*#A2D4DE*/ #18587A;
	color: black;
	text-align: center;
	border-radius: 60px;
}

.Box2 {
	height: 60vh;
	background-color: white/*#FEA386*/;
	color: white;
	text-align: center;
}

.Box3 {
	height: 60vh;
	background-color: #FC624D/*#FEA386*/;
	color: black;
	text-align: center;
}

.imgBox1 {
	margin-top: 2%;
	width: 10%;
	height: 10%;
	display: none;
}

.imgBox2 {
	margin-top: 10%;
	width: 50%;
	height: 50%;
	transition: 1s;
	display: none;
}

.imgBox2:hover{
	margin-top: 8%;
	width: 60%;
	height: 60%;
	transition: 1s;
}

.imgBox3 {
	margin-top: 10%;
	width: 50%;
	height: 50%;
	transition: 1s;
	display: none;
}

.imgBox3:hover{
	margin-top: 8%;
	width: 60%;
	height: 60%;
	transition: 1s;
}