.workBox {
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.workBox span {
	font-family: 'Josefin Sans', thin italic;
	font-size: 2.5vh;
	padding: 0 0 0 0 !important;
}

.workBoxs{
	transition: 1s;
	opacity: 0.9;
	background-color: #F5F7FA;
}

.workBoxs:hover{
	background-color: #4FC1E9;
	color: white;
	text-decoration: none;
}

.pic {
	transition: 1s;
	opacity: 0.9;
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
	/*box-shadow: 2px 2px 2px 2px #aaa;*/
	margin-top: 5vh;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  object-fit: cover; /*yay*/
}

.pic:hover{
	transition: 1s;
	opacity: 1;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.modal {
	background: none;
}

.modal-content {
	top: 30vh;
}

@media only screen and (min-width: 1200px) {
	.pic {
		width: 40vh;
		height: 40vh;
	}
}